<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="css/style.css">
	<title>Melts</title>
</head>
<body>

		<div class="navbar sb-slide">
			<div class="page-header">
				<img src="images/logo.png" height="24" alt="logo">
			</div>
			<div class="sb-toggle-right">
				<div class="menu-bar"></div>
				<div class="menu-bar"></div>
				<div class="menu-bar"></div>
			</div>
		</div>

	<div id="sb-site">
		<div class="main-content">

			<h1>Welcome {{username}}</h1>
			
			<h1>Slidebars Control Classes Example</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et nisl eget tellus dignissim commodo. Donec euismod malesuada dolor, eu euismod massa fermentum non. Morbi eleifend lorem vel nisi scelerisque iaculis. Etiam feugiat nibh in leo porttitor, non tempor felis varius. Vivamus feugiat lobortis justo vel pharetra. Donec varius convallis metus ac venenatis. Nulla facilisi. Morbi bibendum eget mi eu bibendum. Vestibulum et augue dapibus, pharetra neque in, semper nisl. Morbi arcu lacus, suscipit sit amet tincidunt eget, mattis eget nunc. Cras eu elit at mauris consequat ullamcorper a in diam. Donec dapibus sed magna sed malesuada. Maecenas quis eleifend purus. Maecenas condimentum arcu quis purus luctus ultrices. Aliquam dictum pellentesque nisi nec placerat. Donec interdum magna eget purus dictum, nec venenatis odio posuere.</p>

			<h1>Slidebars Control Classes Example</h1>
			<p>Nunc tincidunt libero eu velit accumsan, sit amet vulputate turpis lacinia. Aenean quis tincidunt velit. Proin ultricies risus nec lectus cursus ultrices. Nulla a tincidunt neque. Aliquam commodo metus euismod mauris tincidunt facilisis. Quisque a congue lorem. Curabitur condimentum turpis urna, vitae dignissim risus tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum varius odio in mi elementum pharetra. Aenean condimentum ultricies velit, vitae bibendum turpis vehicula vulputate. Phasellus posuere, dolor sit amet tempus scelerisque, ligula nisi egestas lectus, nec cursus nunc risus varius lorem. Sed non ipsum at erat mollis cursus vitae ac est. Cras nec mauris metus. Aliquam euismod velit eros, et adipiscing leo gravida vitae.</p>
			
			<h1>Slidebars Control Classes Example</h1>
			<p>Mauris eu dui commodo, ultrices arcu sed, fringilla ante. Praesent pellentesque erat sed sodales viverra. Vestibulum molestie, augue non egestas vestibulum, velit sapien viverra augue, quis tempus odio augue quis massa. Integer id ultricies sapien, a bibendum turpis. Praesent facilisis eros orci, eu rhoncus risus feugiat in. Curabitur euismod auctor tincidunt. Duis laoreet ligula id elit pretium accumsan. Ut aliquam sapien nulla, nec feugiat lacus sollicitudin non.</p>

			<h1>Slidebars Control Classes Example</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et nisl eget tellus dignissim commodo. Donec euismod malesuada dolor, eu euismod massa fermentum non. Morbi eleifend lorem vel nisi scelerisque iaculis. Etiam feugiat nibh in leo porttitor, non tempor felis varius. Vivamus feugiat lobortis justo vel pharetra. Donec varius convallis metus ac venenatis. Nulla facilisi. Morbi bibendum eget mi eu bibendum. Vestibulum et augue dapibus, pharetra neque in, semper nisl. Morbi arcu lacus, suscipit sit amet tincidunt eget, mattis eget nunc. Cras eu elit at mauris consequat ullamcorper a in diam. Donec dapibus sed magna sed malesuada. Maecenas quis eleifend purus. Maecenas condimentum arcu quis purus luctus ultrices. Aliquam dictum pellentesque nisi nec placerat. Donec interdum magna eget purus dictum, nec venenatis odio posuere.</p>

			<h1>Slidebars Control Classes Example</h1>
			<p>Nunc tincidunt libero eu velit accumsan, sit amet vulputate turpis lacinia. Aenean quis tincidunt velit. Proin ultricies risus nec lectus cursus ultrices. Nulla a tincidunt neque. Aliquam commodo metus euismod mauris tincidunt facilisis. Quisque a congue lorem. Curabitur condimentum turpis urna, vitae dignissim risus tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum varius odio in mi elementum pharetra. Aenean condimentum ultricies velit, vitae bibendum turpis vehicula vulputate. Phasellus posuere, dolor sit amet tempus scelerisque, ligula nisi egestas lectus, nec cursus nunc risus varius lorem. Sed non ipsum at erat mollis cursus vitae ac est. Cras nec mauris metus. Aliquam euismod velit eros, et adipiscing leo gravida vitae.</p>
			
			<h1>Slidebars Control Classes Example</h1>
			<p>Mauris eu dui commodo, ultrices arcu sed, fringilla ante. Praesent pellentesque erat sed sodales viverra. Vestibulum molestie, augue non egestas vestibulum, velit sapien viverra augue, quis tempus odio augue quis massa. Integer id ultricies sapien, a bibendum turpis. Praesent facilisis eros orci, eu rhoncus risus feugiat in. Curabitur euismod auctor tincidunt. Duis laoreet ligula id elit pretium accumsan. Ut aliquam sapien nulla, nec feugiat lacus sollicitudin non.</p>
			<h1>Slidebars Control Classes Example</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et nisl eget tellus dignissim commodo. Donec euismod malesuada dolor, eu euismod massa fermentum non. Morbi eleifend lorem vel nisi scelerisque iaculis. Etiam feugiat nibh in leo porttitor, non tempor felis varius. Vivamus feugiat lobortis justo vel pharetra. Donec varius convallis metus ac venenatis. Nulla facilisi. Morbi bibendum eget mi eu bibendum. Vestibulum et augue dapibus, pharetra neque in, semper nisl. Morbi arcu lacus, suscipit sit amet tincidunt eget, mattis eget nunc. Cras eu elit at mauris consequat ullamcorper a in diam. Donec dapibus sed magna sed malesuada. Maecenas quis eleifend purus. Maecenas condimentum arcu quis purus luctus ultrices. Aliquam dictum pellentesque nisi nec placerat. Donec interdum magna eget purus dictum, nec venenatis odio posuere.</p>

			<h1>Slidebars Control Classes Example</h1>
			<p>Nunc tincidunt libero eu velit accumsan, sit amet vulputate turpis lacinia. Aenean quis tincidunt velit. Proin ultricies risus nec lectus cursus ultrices. Nulla a tincidunt neque. Aliquam commodo metus euismod mauris tincidunt facilisis. Quisque a congue lorem. Curabitur condimentum turpis urna, vitae dignissim risus tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum varius odio in mi elementum pharetra. Aenean condimentum ultricies velit, vitae bibendum turpis vehicula vulputate. Phasellus posuere, dolor sit amet tempus scelerisque, ligula nisi egestas lectus, nec cursus nunc risus varius lorem. Sed non ipsum at erat mollis cursus vitae ac est. Cras nec mauris metus. Aliquam euismod velit eros, et adipiscing leo gravida vitae.</p>
			
			<h1>Slidebars Control Classes Example</h1>
			<p>Mauris eu dui commodo, ultrices arcu sed, fringilla ante. Praesent pellentesque erat sed sodales viverra. Vestibulum molestie, augue non egestas vestibulum, velit sapien viverra augue, quis tempus odio augue quis massa. Integer id ultricies sapien, a bibendum turpis. Praesent facilisis eros orci, eu rhoncus risus feugiat in. Curabitur euismod auctor tincidunt. Duis laoreet ligula id elit pretium accumsan. Ut aliquam sapien nulla, nec feugiat lacus sollicitudin non.</p>
		</div>
	</div>

	<div class="sb-slidebar sb-right">
		<div class="side-menu">
			<ul>
				<li>Add/Remove Units</li>
				<li>Add/Remove Students</li>
				<li>Add/Remove Lecturers</li>
				<li>Download Student Data</li>
			</ul>
				<hr>
			<ul>
				<li>Account Settings</li>
				<li>Logout</li>
		</div>
	</div>

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- Slidebars -->
	<script src="javascript/slidebars.js"></script>
	<script>
		(function($) {
			$(document).ready(function() {
				$.slidebars();
			});
		}) (jQuery);
	</script>
</body>
</html>