<div class="col-1-2">
	<div class="shaded-floated">
		<div class="circle-button"></div><div class="big-button">Start Quiz</div>
	</div>
	<div class="shaded-floated">
		<div class="circle-button"></div><div class="big-button">Make Quiz</div>
	</div>
</div>
<div class="col-1-2">
	<div class="shaded-floated">

		<div class="circle-button"></div><div class="big-button">Discussions</div>
	</div>
	<div class="shaded-floated">
		<div class="circle-button"></div><div class="big-button">Leaderboard</div>
		</div>
</div>
