<div class="col-1-2">
	<div >
		<h1>Have a Monash account?</h1>
		<div class="button-1" href='https://my.monash.edu.au/authentication/cas/login/?service=http://melts.eng.monash.edu' type="submit">Sign in</div>
		<br>
	</div>
</div>
<div class="col-1-2">
	<div>
		<h1>Sign up!</h1>
		<form name="login", method="post", action="http://google.com">
			<label>Username:</label><br>
			<input type="text" name="username"><br>
			<br>
			<label>Password:</label><br>
			<input type="password" name="password"><br>
			<br>
			<div class="button-1" type="submit">Sign up</div>
		</form>
	</div>
</div>
